/* src/components/QuoteSection.css */

.quote-section {
  width: 60%;
  text-align: left;
  font-size: 1.5em;
  padding: 40px;
  color: #fff;
  font-style: italic;
}

blockquote {
  color: #f0e68c;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

blockquote footer {
  margin-top: 10px;
  color: #ffffff;
}
